ul {
	margin: 0;
	padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
	background: #FFF url(../img/header_bg.jpg) no-repeat center center;
	width: 100%;
	height: 600px;
	border-top: 10px solid #2ecc71;
	position: relative;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}

.content {
	margin-top: 170px;
	margin-left: 110px;
	max-width: 480px;
}

header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	color: #FFF;
	margin: 0 0 37px 0;
}

header p {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}

.header_icons {
	display: inline-block;
	width: 54px;
	height: 54px;
	border-radius: 27px;
	margin-right: 15px;
}

.icon_apple {
	background: rgba(0,0,0,.5) url(../img/icon_apple.png) no-repeat 50% 50%;
}

.icon_android {
	background: rgba(0,0,0,.5) url(../img/icon_android.png) no-repeat 50% 50%;
}

.icon_windows {
	background: rgba(0,0,0,.5) url(../img/icon_windows.png) no-repeat 50% 50%;
}

.header_icons:hover, 
.social a:hover {
	background-color: rgba(46,204,113,.5);
}

.section_1 {
	min-height: 215px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	float: left;
	text-align: center;
	padding-right: 58px;
}

.item:last-child {
	padding: 0 0 0 58px;
}

.item:nth-child(2) {
	padding: 0 29px;
}

.icon {
	width: 98px;
	height: 98px;
	border-radius: 49px;
	margin: 0 auto;
}

.icon_1 {
		background: #2ecc71 url(../img/section_1_icon_1.png) no-repeat 50% 50%;
}

.icon_2 {
		background: #2ecc71 url(../img/section_1_icon_2.png) no-repeat 50% 50%;
}

.icon_3 {
		background: #2ecc71 url(../img/section_1_icon_3.png) no-repeat 50% 50%;
}

h2 {
	font: 600 22px 'Raleway',Arial, sans-serif;
	line-height: 22px;
	margin-top: 30px;
}

p {
	font: 16px/26px Arial, sans-serif;
	color: #848484;
	margin: 0;
}

.section2_wrap {
	background: #e3e3e3;
	min-height: 427px;
}
.section_2 {
	background: #e3e3e3;
	padding: 60px 10px;
}

.get {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-right: 70px;
}

.search_text {
	height: 54px;
	max-width: 64.41%;
	padding: 0;
	border: none;
	border-bottom-left-radius: 13px;
	border-top-left-radius: 13px;
	float: left;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search_submit {
	height: 54px;
	width: 140px;
	padding: 0;
	border: none;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 13px;
	font: 600 18px 'Raleway',Arial, sans-serif;
	color: #FFF;
	background: #2ecc71;
}

.video {
	width: 50%;
	float: right;
	padding-left: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

iframe {border-radius: 8px;}

em {font: 600 16px 'Raleway',Arial, sans-serif;}

.section_3 {
	text-align: center;
	padding-top: 60px;
}

blockquote {
	margin: 0 170px 23px;
	font: italic 17px/30px Arial, sans-serif;
	color: #848484;
}
.img {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

.img a {
	display: block;
	height: 100%;
}

.img1 {background: url(../img/1.jpg) no-repeat;}
.img2 {background: url(../img/2.jpg) no-repeat;}
.img3 {background: url(../img/3.jpg) no-repeat;}
.img4 {background: url(../img/4.jpg) no-repeat;}
.img5 {background: url(../img/5.jpg) no-repeat;}
.img6 {background: url(../img/6.jpg) no-repeat;}
.img7 {background: url(../img/7.jpg) no-repeat;}
.img8 {background: url(../img/8.jpg) no-repeat;}
.img9 {background: url(../img/9.jpg) no-repeat;}
.img10 {background: url(../img/10.jpg) no-repeat;}
.img11 {background: url(../img/11.jpg) no-repeat;}
.img12 {background: url(../img/12.jpg) no-repeat;}
.img13 {background: url(../img/13.jpg) no-repeat;}
.img14 {background: url(../img/14.jpg) no-repeat;}
.img15 {background: url(../img/15.jpg) no-repeat;}
.img16 {background: url(../img/16.jpg) no-repeat;}
.img17 {background: url(../img/17.jpg) no-repeat;}
.img18 {background: url(../img/18.jpg) no-repeat;}
.img19 {background: url(../img/19.jpg) no-repeat;}
.img20 {background: url(../img/20.jpg) no-repeat;}
.img21 {background: url(../img/21.jpg) no-repeat;}

.img a:hover {
	background-color: #fff;
}

.gallery {
	max-width: 98%;
	margin: 30px auto 0;
}

.section_3 h2 {
	margin-top: 60px;
	margin-bottom: 25px;
}

.social li {
	display: inline-block;
}

.social li a {
	display: block;
	width: 34px;
	height: 34px;
	margin-right: 4px;
	border-radius: 17px;
}

.twitter {background: #d4d4d4 url(../img/twit.png) no-repeat 50% 50%;}

.facebook {background: #d4d4d4 url(../img/facebook.png) no-repeat 50% 50%;}

.pinterest {background: #d4d4d4 url(../img/pinterest.png) no-repeat 50% 50%;}

.google {background: #d4d4d4 url(../img/google.png) no-repeat 50% 50%;}

.linkedin {background: #d4d4d4 url(../img/linkedin.png) no-repeat 50% 50%;}

.youtube {background: #d4d4d4 url(../img/youtube.png) no-repeat 50% 50%;}

.section4_wrap {
	height: 130px;
	background: #e3e3e3;
}

.section4 {
	text-align: center;
	vertical-align: middle;
	padding-top: 60px;
	margin-top: 60px;
}

.section4 li {
	display: inline-block;
	margin-right: 30px;
}
.section4 li:last-child {margin-right: 0;}

.section4 a {
	font: 16px/26px Arial, sans-serif;
	color: #848484;
	text-decoration: none;
}

.section4 a:hover {border-bottom: 1px dashed #848484;}