ul {
	margin: 0;
	padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
	background: #FFF url(../img/header_bg.jpg) no-repeat center center;
	width: 100%;
	height: 600px;
	border-top: 10px solid #2ecc71;
	position: relative;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}

.content {
	margin-top: 170px;
	margin-left: 110px;
	max-width: 480px;
}

header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	color: #FFF;
	margin: 0 0 37px 0;
}

header p {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 10px;
}

.header_icons {
	display: inline-block;
	width: 54px;
	height: 54px;
	border-radius: 27px;
	margin-right: 15px;
}

.icon_apple {
	background: rgba(0,0,0,.5) url(../img/icon_apple.png) no-repeat 50% 50%;
}

.icon_android {
	background: rgba(0,0,0,.5) url(../img/icon_android.png) no-repeat 50% 50%;
}

.icon_windows {
	background: rgba(0,0,0,.5) url(../img/icon_windows.png) no-repeat 50% 50%;
}

.header_icons:hover, 
.social a:hover {
	background-color: rgba(46,204,113,.5);
}

.section_1 {
	min-height: 215px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33%;
	float: left;
	text-align: center;
	padding-right: 5%;
}

.item:last-child {padding-left: 5%; padding-right: 0;}

.middle {padding: 0 20px;}

.icon {
	width: 98px;
	height: 98px;
	border-radius: 49px;
	margin: 0 auto;
}

.icon_1 {
		background: #2ecc71 url(../img/section_1_icon_1.png) no-repeat 50% 50%;
}

.icon_2 {
		background: #2ecc71 url(../img/section_1_icon_2.png) no-repeat 50% 50%;
}

.icon_3 {
		background: #2ecc71 url(../img/section_1_icon_3.png) no-repeat 50% 50%;
}

h2 {
	font: 600 22px 'Raleway',Arial, sans-serif;
	line-height: 22px;
	margin-top: 30px;
}

p {
	font: 16px/26px Arial, sans-serif;
	color: #848484;
	margin: 0;
}

.section2_wrap {
	background: #e3e3e3;
	min-height: 427px;
}
.section_2 {
	background: #e3e3e3;
	padding: 60px 10px;
}

.get {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-right: 70px;
}

form {
	padding-top: 20px;
	padding-bottom: 20px;
}

.search_text {
	height: 54px;
	max-width: 380px;
	padding: 0;
	float: left;
	border: none;
	border-bottom-left-radius: 13px;
	border-top-left-radius: 13px;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search_submit {
	height: 54px;
	width: 140px;
	padding: 0;
	border: none;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 13px;
	font: 600 18px 'Raleway',Arial, sans-serif;
	color: #FFF;
	background: #2ecc71;
}


.video {
	width: 50%;
	float: right;
	padding-left: 90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

iframe {
	border-radius: 8px;
	max-width: 100%;
	max-height: 310px;
}

em {font: 600 16px 'Raleway',Arial, sans-serif;}

.section_3 {
	text-align: center;
	padding-top: 60px;
}

blockquote {
	margin: 0 170px 23px;
	font: italic 17px/30px Arial, sans-serif;
	color: #848484;
}

.gallery a {
	height: 50px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

.gallery a:hover {
	border-bottom: 1px solid black;
	color: #fff;
}
.section_3 h2 {
	margin-top: 60px;
	margin-bottom: 25px;
}

.social li {display: inline-block;}

.twitter {background: #d4d4d4 url(../img/twit.png) no-repeat 50% 50%;}

.facebook {background: #d4d4d4 url(../img/facebook.png) no-repeat 50% 50%;}

.pinterest {background: #d4d4d4 url(../img/pinterest.png) no-repeat 50% 50%;}

.google {background: #d4d4d4 url(../img/google.png) no-repeat 50% 50%;}

.linkedin {background: #d4d4d4 url(../img/linkedin.png) no-repeat 50% 50%;}

.youtube {background: #d4d4d4 url(../img/youtube.png) no-repeat 50% 50%;}

.section4_wrap {
	height: 130px;
	background: #e3e3e3;
}

.section4 {
	text-align: center;
	vertical-align: middle;
	padding-top: 60px;
	margin-top: 60px;
}

.section4 li {
	display: inline-block;
	margin-right: 30px;
}
.section4 li:last-child {margin-right: 0;}

.section4 a {
	font: 16px/26px Arial, sans-serif;
	color: #848484;
	text-decoration: none;
}

.section4 a:hover {border-bottom: 1px dashed #848484;}

@media screen and (max-width:970px) {
	blockquote {
		margin-left: auto;
		margin-right: auto;
		padding: 0 10px;
	}

	.get {padding: 0 20px;}

	.video {
		float: right;
		width: 50%;
		padding-left: 0;
	}

}

@media screen and (max-width:780px) {
	
	.section_2 h2, .section_2 p {text-align: center;}
	.get {
		float: none;
		width: 100%;
	}

	.video {
		width: 100%;
		float: none;
		margin: 0 auto;
		text-align: center;
	}

@media screen and (max-width:620px) {
	
	header {height: 300px;}

	.content {
		margin-top: 10px;
		margin-left: 20px;
	}

	.item {
		float: none;
		width: 70%;
		margin: 0 auto;
		padding: 0 0 10px 0;
	}

	.item:last-child {padding: 0;}

}

@media screen and (max-width:410px) {

	.section_2 {padding: 20px 10px;}

	.section_3 {padding-top: 30px;}

	.search_text {
		float: none;
		border-radius: 13px;
	}

	.search_submit {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 13px;

	}

	.item:last-child {padding: 0;}

	.section4_wrap {height: 75px;}

	.section4 {
		padding-top: 10px;
		margin-top: 10px;
	}

	.img {margin-top: 5px;}

}